.banner {
  min-height: 680px;
  position: relative;
  bottom: 45px;
  @media (max-width: 767px) {
    min-height: 420px;
  }
  &::after {
    content: "";
    z-index: -1;
    background: linear-gradient(
      0deg,
      #98c3e8 8.84%,
      rgba(152, 195, 232, 0) 31.12%
    );
    opacity: 0.2;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  &::before {
    content: "";
    z-index: -1;
    background-image: url(../img/banner-bg.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 687px;
    max-width: 1366px;
    position: absolute;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    right: 20px;
    left: 0;
    @media (max-width: 991px) {
      opacity: 0.3;
    }
  }
  &__box {
    padding-top: 40px;
    @media (max-width: 767px) {
      padding: 0;
    }
  }
  &__text {
    max-width: 425px;
    margin-bottom: 70px;
    @media (max-width: 991px) {
      color: $tx-secondary;
      font-weight: 900;
    }
  }
  &__caption {
    max-width: 510px;
    @media (max-width: 991px) {
      font-size: 50px;
      text-align: center;
    }
  }
}
