.service {
  padding: 140px 0 85px;
  @media (max-width: 767px) {
    padding: 0;
  }
  &__row {
    @media (max-width: 767px) {
      flex-basis: 100%;
    }
  }
  &__card {
    align-self: flex-end;
    @media (max-width: 991px) {
      max-width: 320px;
      align-self: initial;
    }
    @media (max-width: 767px) {
      padding: 20px;
      max-width: 100%;
    }
  }
  &__col {
    align-items: flex-end;
  }
  &__title {
    color: $bg-primary;
    max-width: 360px;
    margin-bottom: 160px;
    @media (max-width: 767px) {
      max-width: 100%;
      margin: 20px;
      text-align: center;
    }
  }
}
