<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contacts</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
</head>


<body>
    @@include("../img/svg-sprites.html")

    @@include("./blocks/header.html")
    <main>
        @@include("./blocks/page-title.html")
        @@include("./blocks/contact-info.html")
    </main>
    @@include("./blocks/footer.html")

    <!-- Vendor scripts -->

    <!-- User scripts -->
    <script src="js/main.js"></script>
</body>

</html>