<section class="clients">
    <div class="container">
        <div class="row clients__row">
            <div class="row__item-4">
                <h1 class="title clients__title">
                    Our Beloved Client
                </h1>
            </div>
            <p class="text text_clr_light">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam.
            </p>
        </div>
        <div class="row">
            <div class="row__item-4 clients__item">
                <span class="clients__text">LOGO CLIENT 1</span>
            </div>
            <div class="row__item-4 clients__item">
                <span class="clients__text">LOGO CLIENT 2</span>
            </div>
            <div class="row__item-4 clients__item">
                <span class="clients__text">LOGO CLIENT 3</span>
            </div>
            <div class="row__item-4 clients__item">
                <span class="clients__text">LOGO CLIENT 4</span>
            </div>
            <div class="row__item-4 clients__item">
                <span class="clients__text">LOGO CLIENT 5</span>
            </div>
            <div class="row__item-4 clients__item">
                <span class="clients__text">LOGO CLIENT 6</span>
            </div>
            <div class="row__item-4 clients__item">
                <span class="clients__text">LOGO CLIENT 7</span>
            </div>
            <a class="row__item-4 clients__item link" href="#">
                <span class="clients__text"> More Client
                </span>
            </a>
        </div>
    </div>
</section>