<section class="contacts-info">
    <div class="container">
        <div class="row contacts-info__row">
            <div class="row__item-4 contacts-info__col">
                <div class="col contacts">
                    <div class="contacts__item">
                        <img class="contacts__img" src="../img/soc.svg" alt="">
                    </div>
                    <div class="contacts__item col">
                        <span class="title title_middle contacts__title">
                            ADDRESS
                        </span>
                        <p class="text contacts__text">
                            Id convallis placerat sit sed duis id amet volutpat quam a, pharetra.
                        </p>
                    </div>
                    <div class="contacts__item col">
                        <span class="title title_middle contacts__title">
                            PHONE
                        </span>
                        <a class="text contacts__link" href="tel:+62-812-7313-4321">
                            <svg class="contacts__ico">
                                <use xlink:href='#phone' />
                            </svg>
                            +62-812-7313-4321
                        </a>
                        <a class="text contacts__link" href="tel:+62-812-7313-4321">
                            <svg class="contacts__ico">
                                <use xlink:href='#phone' />
                            </svg>
                            <span>
                                +62-817-000-1234
                            </span>
                        </a>
                    </div>
                    <div class="contacts__item col">
                        <span class="title title_middle contacts__title">
                            ONLINE SERVICE
                        </span>
                        <a class="text contacts__link" href="www.afrianska.com">
                            <svg class="contacts__ico">
                                <use xlink:href='#site' />
                            </svg>
                            www.afrianska.com
                        </a>
                        <a class="text contacts__link" href="mailto:hello.afrian@gmail.com">
                            <svg class="contacts__ico">
                                <use xlink:href='#mail' />
                            </svg>
                            www.afrianska.com
                        </a>
                    </div>
                </div>
            </div>
            <div class="contacts-info__item contacts-info__col">
                <div class="form contacts-info__form">
                    <form class="form__inner" action="">
                        <div class="col">
                            <h1 class="title_middle form__title">SEND US MESSAGE</h1>
                            <div class="form__item col">
                                <label for="name" class="form__subtitle">
                                    Full Name
                                </label>
                                <input id="name" type="text" class="form__text form__element" form__element
                                    placeholder="Your Name">
                            </div>
                            <div class="form__item col">
                                <label for="email" class="form__subtitle">
                                    Your Email
                                </label>
                                <input id="email" type="email" class="form__message form__element" placeholder="Email">
                            </div>
                            <div class="form__item col">
                                <label for="message" class="form__subtitle">
                                    Message
                                </label>
                                <textarea id="message" name="message" id="message" cols="30" rows="5"
                                    class="form__textarea form__element" placeholder="Your Message"></textarea>
                            </div>
                            <div class="form__item col">
                                <div class="wrap">
                                    <input class="form__submit form__element btn" type="submit" value="SUBMIT">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div><img class="contacts-info__map" src="../img/map.png" alt="map"></div>
        </div>
    </div>

</section>