<section class="contacts-info">
    <div class="container">
        <div class="row contacts-info__row">
            <div class="row__item-4 contacts-info__col">
                <div class="col contacts">
                    <div class="contacts__item">
                        <img class="contacts__img" src="./img/soc.svg" alt="">
                    </div>
                    <div class="contacts__item col">
                        <span class="title title_middle contacts__title">
                            ADDRESS
                        </span>
                        <p class="text contacts__text">
                            Id convallis placerat sit sed duis id amet volutpat quam a, pharetra.
                        </p>
                    </div>
                    <div class="contacts__item col">
                        <span class="title title_middle contacts__title">
                            PHONE
                        </span>
                        <a class="text contacts__link" href="tel:+62-812-7313-4321">
                            <svg class="contacts__ico">
                                <use xlink:href='#phone' />
                            </svg>
                            +62-812-7313-4321
                        </a>
                        <a class="text contacts__link" href="tel:+62-812-7313-4321">
                            <svg class="contacts__ico">
                                <use xlink:href='#phone' />
                            </svg>
                            <span>
                                +62-817-000-1234
                            </span>
                        </a>
                    </div>
                    <div class="contacts__item col">
                        <span class="title title_middle contacts__title">
                            ONLINE SERVICE
                        </span>
                        <a class="text contacts__link" href="www.afrianska.com">
                            <svg class="contacts__ico">
                                <use xlink:href='#site' />
                            </svg>
                            www.afrianska.com
                        </a>
                        <a class="text contacts__link" href="mailto:hello.afrian@gmail.com">
                            <svg class="contacts__ico">
                                <use xlink:href='#mail' />
                            </svg>
                            www.afrianska.com
                        </a>
                    </div>
                </div>
            </div>
            <div class="contacts-info__item contacts-info__col">
                @@include("./form.html")
            </div>
        </div>
        <div class="row">
            <img class="contacts-info__map" src="./img/map.png" alt="map">
        </div>
    </div>

</section>