<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="row__item-2">
                <h1 class="title">
                    Intersted to woek
                    with our team?
                </h1>
                <p class="text text_clr_light">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
            </div>
            <div class="row__item-2">
                <a href="#" class="btn">Let’s Talk</a>
            </div>
        </div>
        <div class="row">
            <div class="row__item-3">
                <div class="col">
                    <div class="box">
                        <svg class="logo header__logo">
                            <use xlink:href='#logo-footer' />
                        </svg>
                        <span class="company-name">Afrianska</span>
                    </div>
                    <div class="row">
                        <span class="text footer__text">A.</span>
                        <p class="text footer__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                    <div class="row">
                        <span class="text footer__text">T.</span>
                        <a class="text footer__text" href="tel:+62-812-7313-4321">+62-812-7313-4321</a>
                    </div>
                    <div class="row">
                        <span class="text footer__text">E</span>
                        <a class="text footer__text" href="mailto:hello.afrian@gmail.com">
                            hello.afrian@gmail.com
                        </a>
                    </div>
                </div>
            </div>
            <div class="row__item-3">
                <ul>
                    <span class="title_middle">About US</span>
                    <li class="text footer__text">About</li>
                    <li class="text footer__text">What We Do</li>
                    <li class="text footer__text">Project</li>
                    <li class="text footer__text">How It Work With Us</li>
                </ul>
            </div>
            <div class="row__item-3">
                <ul>
                    <span class="title_middle">Follow US</span>
                    <li class="text footer__text">Instagram</li>
                    <li class="text footer__text">Facebook</li>
                    <li class="text footer__text">LinkedIn</li>
                    <li class="text footer__text">Youtube</li>
                </ul>
            </div>
        </div>
        <span class="text text_clr_light copy">2019 © Afrianska. All rights reserved.</span>
    </div>
</footer>