<footer class="footer">
    <div class="container">
        <div class="row footer__top">
            <div class="row__item-2">
                <h1 class="title footer__top-title">
                    Intersted to woek
                    with our team?
                </h1>
                <p class="text text_clr_light">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
            </div>
            <div class="row__item-3 footer__item">
                <button href="#" id="contacts" class="btn footer__btn">Let’s Talk</button>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="row footer__row">
                <div class="row__item-3">
                    <div class="col">
                        <div class="footer__box">
                            <svg class="logo footer__logo">
                                <use xlink:href='#logo-footer' />
                            </svg>
                            <span class="company-name">Afrianska</span>
                        </div>
                        <div class="row row_nwp">
                            <span class="text footer__elem footer__text">A.</span>
                            <span class="text footer__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </span>
                        </div>
                        <div class="row row_nwp">
                            <span class="text footer__elem footer__text">T.</span>
                            <a class="text footer__text link footer__link"
                                href="tel:+62-812-7313-4321">+62-812-7313-4321</a>
                        </div>
                        <div class="row row_nwp">
                            <span class="text footer__elem footer__text">E</span>
                            <a class="text footer__text link footer__link" href="mailto:hello.afrian@gmail.com">
                                hello.afrian@gmail.com
                            </a>
                        </div>
                    </div>
                </div>
                <div class="wrap">
                    <ul class="list">
                        <li>
                            <span class="title_middle footer__title">About US</span>
                        </li>
                        <li>
                            <a class="footer__text link footer__link" href="#">About</a>
                        </li>
                        <li>
                            <a class="footer__text link footer__link" href="#">What We Do</a>
                        </li>
                        <li>
                            <a class="footer__text link footer__link" href="#">Project</a>
                        </li>
                        <li>
                            <a class="footer__text link footer__link" href="#">How It Work With Us</a>
                        </li>
                    </ul>
                </div>
                <div class="row__item-3">
                    <ul class="list">
                        <li>
                            <span class="title_middle footer__title">
                                Follow US
                            </span>
                        </li>
                        <li>
                            <a class="footer__text link footer__link" href="#">Instagram</a>
                        </li>
                        <li>
                            <a class="footer__text link footer__link" href="#">Facebook</a>
                        </li>
                        <li>
                            <a class="footer__text link footer__link" href="#">LinkedIn</a>
                        </li>
                        <li>
                            <a class="footer__text link footer__link" href="#">Youtube</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="text text_clr_light copy footer__copy">
                2019 © Afrianska. All rights reserved.
            </div>
        </div>
    </div>
</footer>