<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="row__item-2">
                <h1 class="title">
                    Intersted to woek
                    with our team?
                </h1>
                <p class="text text_clr_light">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
            </div>
            <div class="row__item-2">
                <a href="#" class="btn">Let’s Talk</a>
            </div>
        </div>
        <div class="row">
            <div class="row__item-3">
                <div class="col">
                    <div class="box">
                        <svg class="logo header__logo">
                            <use xlink:href='#logo-footer' />
                        </svg>
                        <span class="company-name">Afrianska</span>
                    </div>
                    <div class="row">
                        <span class="text footer__text">A.</span>
                        <p class="text footer__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                    <div class="row">
                        <span class="text footer__text">T.</span>
                        <a class="text footer__text" href="tel:+62-812-7313-4321">+62-812-7313-4321</a>
                    </div>
                    <div class="row">
                        <span class="text footer__text">E</span>
                        <a class="text footer__text" href="mailto:hello.afrian@gmail.com">
                            hello.afrian@gmail.com
                        </a>
                    </div>
                </div>
            </div>
            <div class="row__item-3">
                <ul class="list">
                    <li>
                        <span class="title_middle footer__title">About US</span>
                    </li>
                    <li>
                        <a class="footer__text link" href="#">About</a>
                    </li>
                    <li>
                        <a class="footer__text link" href="#">What We Do</a>
                    </li>
                    <li>
                        <a class="footer__text link" href="#">Project</a>
                    </li>
                    <li>
                        <a class="footer__text link" href="#">How It Work With Us</a>
                    </li>
                </ul>
            </div>
            <div class="row__item-3">
                <ul class="list">
                    <li>
                        <span class="title_middle footer__title">
                            Follow US
                        </span>
                    </li>
                    <li>
                        <a class="footer__text link" href="#">Instagram</a>
                    </li>
                    <li>
                        <a class="footer__text link" href="#">Facebook</a>
                    </li>
                    <li>
                        <a class="footer__text link" href="#">LinkedIn</a>
                    </li>
                    <li>
                        <a class="footer__text link" href="#">Youtube</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text text_clr_light copy footer__copy">
            2019 © Afrianska. All rights reserved.
        </div>
    </div>
</footer>