<div id="popupForm" class="form">
    <form class="form__inner" action="#" method="POST">
        <div class="col">
            <h1 class="title_middle form__title">SEND US MESSAGE</h1>
            <div class="form__item col">
                <label for="popupName" class="form__subtitle">
                    Full Name
                </label>
                <input id="popupName" type="text" class="form__name form__element" form__element placeholder="Your Name"
                    required pattern="([A-Za-zА-Яа-яЁё]*[\s]*)*">
                <p class="form__info form-info__name">
                    The name should only contain letters and spaces
                </p>
            </div>
            <div class="form__item col">
                <label for="popupEmail" class="form__subtitle">
                    Your Email
                </label>
                <input id="popupEmail" type="email" class="form__email form__element" placeholder="Email" required>
                <p class="form__info form-info__email">
                    Enter your real email address
                </p>
            </div>
            <div class="form__item col">
                <label for="popupMessage" class="form__subtitle">
                    Message
                </label>
                <textarea id="popupMessage" name="message" id="message" cols="30" rows="5"
                    class="form__textarea form__element" placeholder="Your Message" required minlength="18"></textarea>
                <p class="form__info form-info__textarea">
                    Tell us a little about your skills
                </p>
            </div>
            <div class="form__item col">
                <div class="wrap">
                    <input class="form__submit form__element btn" type="submit" value="SUBMIT">
                </div>
            </div>
        </div>
    </form>
</div>