<header class="header">
    <div class="header__inner">
        <a href="#">
            <svg class="logo header__logo">
                <use xlink:href='#logo' />
            </svg>
        </a>
        <div id="burger" class="burger-wrap">
            <span class="burger"></span>
        </div>
        <div id="mobMBg" class="overlay"></div>
        <div id="mobileMenu" class="mobile-menu">
            <div class="mobile-menu__title">
                <div class="mobile-menu__box">
                    <svg class="logo">
                        <use xlink:href='#logo-footer' />
                    </svg>
                    <span class="title_middle">Afrianska</span>
                </div>
                <svg id="mobileMenuCross" class="mobile-menu__cross">
                    <use xlink:href='#cross' />
                </svg>
            </div>
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item"><a href="./index.html" class="mobile-menu__link">Home</a></li>
                <li class="mobile-menu__item"><a href="./contacts.html" class="mobile-menu__link">Contacts</a></li>
                <li class="mobile-menu__item"><a href="https://hh.ru/resume/915112ccff07b1f8dc0039ed1f575452477478"
                        class="mobile-menu__link">About</a></li>
            </ul>
        </div>
    </div>
</header>