<!-- Form -->
<div id="popupForm" class="popup">
    <div id="overlay2" class="overlay"></div>
    <div class="popup__body">
        <div id="popupClose" class="popup__close">
            <svg class="popup__icon">
                <use xlink:href='#cross' />
            </svg>
        </div>
        <div class="popup__form popup__item popup__item_active">
            @@include("./form.html")
        </div>

        <p class="popup__item popup__text popup__done title_middle">
            Thank you. Your message has been sent.
        </p>
        <p class="popup__item popup__text popup__error title_middle">
            Error. Message not sent.
        </p>
    </div>
</div>